<%- include('partials/header'); -%>

<!--The "align-items-center" class below is needed in order to align all the columns inside this row vertically centered. Refer to the "app.css" file for the class definition-->
<!--However, it is important to note that in order for this to work you have to specify the row containing these columns as a flex row using "flex-row" class:-->
<!--In our case this has been specified inside the "app.css" file for the custom class "flex-row":-->

<div class="row flex-row align-items-center bg">
    
    <!--large(lg) -> 1200px and greater, medium(md) -> 992px and greater, small(sm) -> 768px and greater, extra-small(xs) -> 576px and greater-->
    
    <div class="col col-lg-7 col-md-8 col-sm-8 col-xs-9">
            
           <div class="jumbotron">
                
                <span class="jumbotron-main-title"><h1>Advanced Buildings Services Welcomes You!</h1></span>
                
                <p class="white-sub-text">Our core business revolves around Structural Engineering, our goal is to design structures that are safe, efficient, robust, and ultimately satisfy all of our clients’ requirements. <br><br>
                We are eager to sort out your structural issues, so you can focus on what matters most to you!</p>
                
                <p><a class="btn btn-primary btn-lg pull-right" href="#" role="button">About Us</a></p>
                
            </div> 
        
    </div>

</div>

<%- include('partials/footer'); -%>
    



