<div class="bg">
    
    <%- include('partials/header'); -%>
    
    <div class="container">
        
        <div class="row">
            
            <div class="container my-auto">
                
                <div class="jumbotron">
                <h1>Hello, world!</h1>
                <p>Welcome to Advanced Buildings Services Website</p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  
            </div>   
                
        </div>

    </div>
    
    <%- include('partials/footer'); -%>
    
</div>

    



