
<div class="bg container-fluid h-100 d-flex">
    
        <div class="row">
            
            <%- include('partials/header'); -%>
            
        </div>
        
  
            
            <div class="jumbotron my-auto container">
                <h1>Hello, world!</h1>
                <p>Welcome to Advanced Buildings Services Website</p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
            </div>
            
    
</div>  
    
            
            
    
    <!--"container-fluid" class below is used in order to make sure that the Bootstrap container willt take 100% of the width of the page:-->



<%- include('partials/footer'); -%>
    



