body, html {
    
    height: 100%;
    
}

/*In order to make specific rows inside a container extend in height in order to fill the remaining page's height. The main container containing the rows needs to have this class assigned to it.*/
/*Since the container needs to be defined as flexibile, and its flexibility is in the column direction (i.e. height, its height can change to suit its contents):*/

.flexible-container-height {
    
    display: flex;
    flex-flow: column;
    height: 100%;
    
}

/*The below class is assigned to the rows that are desired to extend in height in order to fill the remaining height of the browser's window. It needs to be flexible and have a "flex-grow" property equivalent to 1:*/

.flex-row {
    
    flex-grow: 1;
    display: flex;
    
}

/*The below class is needed in order to align the contents of a specific row (such as columns) in their vertical center:*/

.align-items-center {
    
  -ms-flex-align: center!important;
  align-items: center!important;
  
}

.bg {
    
    /*Notice because of our "public" NodeJS folder there is no need to go back in our folder structure using "../" since our App automatically knows that we are storing all of our static assests*/
    /*including images inside our "public" directory:*/
    
    background-image: url("/images/darkCableStayedBridge.jpg");
    
    /*The below code line is needed in order to make the background image spans the full height of the page:*/
    
    height: 100%;
    
    /*The below lines of code are needed in order to make the background image centre and scale nicely:*/
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.navbar {
    
    /*The below is needed in order to get rid of the rounded corners around Bootstrap navbar (webkit is related to Safari and moz is for Mozilla):*/
    
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    
    /*The below code is needed in order to make the Bootstrap navbar transparent if you want to by playing with the last value which is currently set as 1 (i.e. not transparent):*/
    
    background: rgba(0,0,0,1);
    
    /*The below line of code is needed in order to remove the four borders surrounding Bootsrap NavBar:;*/
    
    border: none;
    
    /*Below code is needed in order to assign 0 margins to all four sides of the navbar thus, eliminating any white blanks around it:*/
    
    margin: 0px;
  

}

/*The below is needed in order to increase the gap between the items/links listed inside Bootstrap navbar:*/

.navbar-nav > li {
    
    padding-left: 20px;
    padding-right: 20px;
    
}

/*The below lines of code are needed in order to make the Bootsrap navbar collapse whenever the browser's width reach 1054px or below:*/

@media(max-width: 1054px) {
    
    .navbar-header {
        
        float: none;
        
    }
    
    .navbar-left,.navbar-right {
        
        float: none !important;
        
    }
    
    .navbar-toggle {
        
        display: block;
        
    }
    
    .navbar-collapse {
        
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        
    }
    
    .navbar-fixed-top {
        
		top: 0;
		border-width: 0 0 1px;
		
	}
	
    .navbar-collapse.collapse {
        
        display: none!important;
        
    }
    
    .navbar-nav {
        
        float: none!important;
		margin-top: 7.5px;
		
	}
	
	.navbar-nav>li {
	    
        float: none;
        
    }
    
    .navbar-nav>li>a {
        
        padding-top: 10px;
        padding-bottom: 10px;
        
    }
    
    .collapse.in{
        
  		display:block !important;
  		
	}
    
}